@import "base.scss";

html {
  -webkit-font-smoothing: antialiased;
}
html, body {
  height: 100%;
}
body {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  background: $mercury;
  color: $black;
  font-size: 12px;
  .simple {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    color: $black;
    font-size: 12px;
  }
}

.noMargin {
  margin-left: 0px !important;
}

a {
  color: $black;
  text-decoration: none;
}

.caret {
  color: $cl_blue_border;
}

a:hover .caret {
  color: $white;
}

.popover a, .level a {
  color: $black;
}

.btn-link {
  color: $cl_blue_border;
}

a:hover {
  color: $cl_blue;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Source Sans Pro";
  font-weight: normal;
  color: #414141;
  margin: 10px 0px 10px 0px;
  padding: 0;
}

blockquote {
  margin: 20px auto 20px auto;
  width: 80%;
  font: (12px / 20px) normal "Source Sans Pro", sans-serif, helvetica;
  padding-left: 15px;
  border-left: 3px solid #ccc;
}

h1 {
  font-size: 36px;
  line-height: 40px;
}

.jumbotron h1 {
  font-size: 40px;
  line-height: 40px;
}

h2 {
  font-size: 20px;
  line-height: 40px;
}

h3 {
  font-size: 18px;
  line-height: 32px;
}

h4 {
  font-size: 16px;
  line-height: 28px;
}

h5 {
  font-size: 12px;
  line-height: 26px;
}

h6 {
  font-size: 11px;
  line-height: 24px;
}

hr {
  position: relative;
  margin: 20px 0;
  border: 0;
  border: none;
  height: 2px;
  &:before, &:after {
    content: "";
    width: 100%;
    position: absolute;
    height: 1px;
    top: 50%;
    left: 0;
  }
  &:before {
    margin-top: -1px;
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2JiYmJiYiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwJSIgc3RvcC1jb2xvcj0iI2JiYmJiYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjkwJSIgc3RvcC1jb2xvcj0iI2JiYmJiYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiYmJiYmIiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(left, rgba(187, 187, 187, 0) 0%, rgba(187, 187, 187, 1) 10%, rgba(187, 187, 187, 1) 90%, rgba(187, 187, 187, 0) 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(187, 187, 187, 0)), color-stop(10%, rgba(187, 187, 187, 1)), color-stop(90%, rgba(187, 187, 187, 1)), color-stop(100%, rgba(187, 187, 187, 0)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, rgba(187, 187, 187, 0) 0%, rgba(187, 187, 187, 1) 10%, rgba(187, 187, 187, 1) 90%, rgba(187, 187, 187, 0) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(187, 187, 187, 0) 0%, rgba(187, 187, 187, 1) 10%, rgba(187, 187, 187, 1) 90%, rgba(187, 187, 187, 0) 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgba(187, 187, 187, 0) 0%, rgba(187, 187, 187, 1) 10%, rgba(187, 187, 187, 1) 90%, rgba(187, 187, 187, 0) 100%);
    /* IE10+ */
    background: linear-gradient(to right, rgba(187, 187, 187, 0) 0%, rgba(187, 187, 187, 1) 10%, rgba(187, 187, 187, 1) 90%, rgba(187, 187, 187, 0) 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00bbbbbb', endColorstr='#00bbbbbb',GradientType=1 );
    /* IE6-8 */
  }
  &:after {
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RkZGRkZCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwJSIgc3RvcC1jb2xvcj0iI2RkZGRkZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjkwJSIgc3RvcC1jb2xvcj0iI2RkZGRkZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkZGRkZGQiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(left, rgba(221, 221, 221, 0) 0%, rgba(221, 221, 221, 1) 10%, rgba(221, 221, 221, 1) 90%, rgba(221, 221, 221, 0) 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(221, 221, 221, 0)), color-stop(10%, rgba(221, 221, 221, 1)), color-stop(90%, rgba(221, 221, 221, 1)), color-stop(100%, rgba(221, 221, 221, 0)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, rgba(221, 221, 221, 0) 0%, rgba(221, 221, 221, 1) 10%, rgba(221, 221, 221, 1) 90%, rgba(221, 221, 221, 0) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(221, 221, 221, 0) 0%, rgba(221, 221, 221, 1) 10%, rgba(221, 221, 221, 1) 90%, rgba(221, 221, 221, 0) 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgba(221, 221, 221, 0) 0%, rgba(221, 221, 221, 1) 10%, rgba(221, 221, 221, 1) 90%, rgba(221, 221, 221, 0) 100%);
    /* IE10+ */
    background: linear-gradient(to right, rgba(221, 221, 221, 0) 0%, rgba(221, 221, 221, 1) 10%, rgba(221, 221, 221, 1) 90%, rgba(221, 221, 221, 0) 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00dddddd', endColorstr='#00dddddd',GradientType=1 );
    /* IE6-8 */
  }
}

.separate {
  position: relative;
  padding-right: 30px;
  &:before {
    content: "";
    width: 1px;
    position: absolute;
    height: 100%;
    top: 0px;
    right: 0px;
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2JiYmJiYiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwJSIgc3RvcC1jb2xvcj0iI2JiYmJiYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjkwJSIgc3RvcC1jb2xvcj0iI2JiYmJiYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiYmJiYmIiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(187, 187, 187, 0) 0%, rgba(187, 187, 187, 1) 10%, rgba(187, 187, 187, 1) 90%, rgba(187, 187, 187, 0) 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(187, 187, 187, 0)), color-stop(10%, rgba(187, 187, 187, 1)), color-stop(90%, rgba(187, 187, 187, 1)), color-stop(100%, rgba(187, 187, 187, 0)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(187, 187, 187, 0) 0%, rgba(187, 187, 187, 1) 10%, rgba(187, 187, 187, 1) 90%, rgba(187, 187, 187, 0) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(187, 187, 187, 0) 0%, rgba(187, 187, 187, 1) 10%, rgba(187, 187, 187, 1) 90%, rgba(187, 187, 187, 0) 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(187, 187, 187, 0) 0%, rgba(187, 187, 187, 1) 10%, rgba(187, 187, 187, 1) 90%, rgba(187, 187, 187, 0) 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, rgba(187, 187, 187, 0) 0%, rgba(187, 187, 187, 1) 10%, rgba(187, 187, 187, 1) 90%, rgba(187, 187, 187, 0) 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00bbbbbb', endColorstr='#00bbbbbb',GradientType=0 );
    /* IE6-8 */
  }
  &:after {
    content: "";
    width: 1px;
    position: absolute;
    height: 100%;
    top: 0px;
    right: 1px;
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RkZGRkZCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwJSIgc3RvcC1jb2xvcj0iI2RkZGRkZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjkwJSIgc3RvcC1jb2xvcj0iI2RkZGRkZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkZGRkZGQiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(221, 221, 221, 0) 0%, rgba(221, 221, 221, 1) 10%, rgba(221, 221, 221, 1) 90%, rgba(221, 221, 221, 0) 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(221, 221, 221, 0)), color-stop(10%, rgba(221, 221, 221, 1)), color-stop(90%, rgba(221, 221, 221, 1)), color-stop(100%, rgba(221, 221, 221, 0)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(221, 221, 221, 0) 0%, rgba(221, 221, 221, 1) 10%, rgba(221, 221, 221, 1) 90%, rgba(221, 221, 221, 0) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(221, 221, 221, 0) 0%, rgba(221, 221, 221, 1) 10%, rgba(221, 221, 221, 1) 90%, rgba(221, 221, 221, 0) 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(221, 221, 221, 0) 0%, rgba(221, 221, 221, 1) 10%, rgba(221, 221, 221, 1) 90%, rgba(221, 221, 221, 0) 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, rgba(221, 221, 221, 0) 0%, rgba(221, 221, 221, 1) 10%, rgba(221, 221, 221, 1) 90%, rgba(221, 221, 221, 0) 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00dddddd', endColorstr='#00dddddd',GradientType=0 );
    /* IE6-8 */
  }
}

hr.clean {
  margin: 15px 0;
  border: 0;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}
